{% extends "basetemp/main_base.html" %}
{% load static %}
{% block content %} 

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Welcome, {{user.get_full_name}}!</h1>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Workbench Tickets</span>
              <span class="info-box-number">{{workbench}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon"><i class="fas fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Vulnerability/Threat Tickets</span>
              <span class="info-box-number">{{vulnerabilities}}</span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon"><i class="fas fa-shield-alt"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Project Sonar</span>
              <span class="info-box-number">{{sonar}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon"><i class="fab fa-github"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Threat Advisories</span>
              <span class="info-box-number">{{advisories}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Small boxes (Stat boxes) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{total}}</h3>
              <p>Total Tickets</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{unassigned}}</h3>
              <p>Unassigned Tickets</p>
            </div>
            <div class="icon">
              <i class="ion ion-folder"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{investigation}}</h3>
              <p>Tickets Under Investigation</p>
            </div>
            <div class="icon">
              <i class="ion ion-unlocked"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{resolved}}</h3>
              <p>Resolved Tickets</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Rows & Cards -->
      <!--<div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Example Card</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="card-body">
              Put your content here.
            </div>
            <div class="card-footer">
              Footer (optional)
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-outline card-success">
            <div class="card-header">
              <h3 class="card-title">Another Card</h3>
              <div class="card-tools">
                <span class="badge badge-success">Ready</span>
              </div>
            </div>
            <div class="card-body">
              Your secondary content goes here.
            </div>
          </div>
        </div>
      </div> -->

      <!-- Table example -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><strong>Incident Report Notifications</strong></h3>
              <!-- Add Ticket Button -->
              <a href="#" class="btn btn-primary add_ticket" data-toggle="modal" data-target="#addTicketModal">
                Add Ticket
              </a>

              <!-- Modal -->
              <div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content" style="height: 80vh;"> <!-- 80% of viewport height -->
                    
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h5 class="modal-title" id="addTicketModalLabel">Add Ticket</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body" style="flex: 1; overflow-y: auto;">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% for field in form %}
                        <p>
                          {{ field.label|safe }}
                          {{ field }}
                          {{ field.errors }}
                        </p>
                      {% endfor %}
                   
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <input type="submit" class="btn btn-info" value="Save">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                   </form> 
                  </div>
                </div>
              </div>

            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Ticket Ref #</th>
                    <th style = "width: 20%">Vulnerability</th>
                    <th style = "width: 20%">Description</th>
                    <th>Severity</th>
                    <th style = "width: 10%">TLP</th>
                    <th>Assigned Responder</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for items in tdata %}
                  <tr>
                    <td>{{items.Ticket_number}}</td>
                    <td>{{items.Vulnerability}}</td>
                    <td>{{items.Description}}</td>
                    <td>{{items.Severity}}</td>
                    <td>{{items.TLP}}</td>
                    <td>{{items.Responder}}</td>
                    <td></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}